/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
  text-align: center;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.73),rgba(0, 0, 0, 0.73)),
  url('header.jpg');;
  background-size: cover;
  background-repeat:   no-repeat;
  background-position: center center;
  
  .container-text{
	padding-top: 400px;
	display: inline-block;
	position: relative;
	width: 30%;
	text-align: left;
	h1{
		color: white;
		font-size: 62px;
		font-weight: bold;
		padding-bottom: 60px;
	}
	p{
		color: white;
		font-weight: 300;
		line-height: 30px;
	}

  }
  .container-form{
	display: inline-block;
	margin-top: 200ps;
	width: 30%;
	form{
		transform: translate(0,100px);
		display: block;
		input{
			width: 250px;
			height: 20px;
			font-size: 14px;
			font-weight: bold;
			padding: 14px;
			border-radius: 3px;
			border: none;
		}
		textarea{
			width: 250px;
			height: 140px;
			font-size: 14px;
			font-weight: bold;
			padding: 14px;
			border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  color: rgb(118, 118, 118);

		}
		button{
			color: white;
			width: 280px;
			height: 45px;
			background-color: #FF7518;
			font-size: 14px;
			font-weight: bold;
			border: none;
			border-radius: 3px;
		}
		p{
			color: gray;
		}
		}

	}
  }

